#list {

}

#list article {
	position: relative;

	padding: 5px 10px;

	border-bottom: 1px solid #ccc;

	line-height: 30px;
}

#list article:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#list article > .-title {
	font-size: 18px;
	font-weight: bold;
}

#list .fa-sliders {
	position: absolute;
	top: 20px;
	right: 20px;

	font-size: 28px;
	line-height: 30px;
}
