* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    font: 16px/20px Arial;
}

body > section {
    display: flex;
    background-color: #46529d;
    width: 500px;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
}

body > main {
    display: flex;
    height: 100%;
    flex: 1;
    flex-flow: row wrap;
}

body > main > header {
    width: 100%;
    height: 115px;
    background-color: #eee;
    border-bottom: 1px solid #d9d9d8;
}

body > main > section {
    flex: 1;
    height: calc(100% - 115px);
    background-color: #fff;
    padding: 15px 20px;
}
