.buggy-list {
	flex: 4;
	overflow: auto;
}

[data-view=detail] .buggy-list {
	display: none;
}

.buggy-list article {
	display: block;
	padding-left: 15px;
	line-height: 44px;
	border-bottom: 1px solid #d7d7de;
}

.buggy-list article:hover {
	background-color: #d7d7de;
	border-color: #c7d1e3;
	cursor: pointer;
}
